Build/
imgui.ini
obj/
bin/
**/*.vcxproj*
Makefile


# Xcode clutter
**/*.build
**/*.xcodeproj

# macOS clutter
.DS_Store
*.pbxproj

#Android
**/AndroidManifest.xml
.modules
**/build.gradle
**/CMakeLists.txt

